src/gkhotel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		targetNamespace="http://www.gk.com/schemas/rsrv"
		xmlns:tns="http://www.gk.com/schemas/rsrv">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" xmlns:tns="http://www.gk.com/schemas/rsrv" targetNamespace="http://www.gk.com/schemas/rsrv">
			<xsd:complexType name="ReservationRequest">
				<xsd:all>
					<xsd:element name="fromDate" type="xsd:date"/>
					<xsd:element name="numberOfDays" type="xsd:int"/>
					<xsd:element name="contactName" type="xsd:string"/>
					<xsd:element name="contactEmail" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="reservationId" nillable="true" type="xsd:string"/>
			<xsd:element name="reservationRequest" type="tns:ReservationRequest"/>
			<xsd:element name="onDate" type="xsd:date"/>
			<xsd:element name="available" type="xsd:boolean"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="makeReservation">
		<wsdl:part name="reservationRequest" element="tns:reservationRequest"/>
	</wsdl:message>
	<wsdl:message name="makeReservationResponse">
		<wsdl:part name="reservationId" element="tns:reservationId"/>
	</wsdl:message>
	<wsdl:message name="checkAvailability">
		<wsdl:part name="onDate" element="tns:onDate"/>
	</wsdl:message>
	<wsdl:message name="checkAvailabilityResponse">
		<wsdl:part name="available" element="tns:available"/>
	</wsdl:message>
	<wsdl:portType name="IReservationService">
		<wsdl:operation name="makeReservation">
			<!--<wsdl:input message="tns:makeReservation" name="makeReservation"/>-->
			<wsdl:output message="tns:makeReservationResponse" name="makeReservationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="checkAvailability">
			<wsdl:input message="tns:checkAvailability" name="checkAvailability"/>
			<wsdl:output message="tns:checkAvailabilityResponse" name="checkAvailabilityResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IReservationServiceBinding" type="tns:IReservationService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="makeReservation">
			<soap:operation soapAction="" style="document"/>
			<!--<wsdl:input name="makeReservation">-->
				<!--<soap:body use="literal"/>-->
			<!--</wsdl:input>-->
			<wsdl:output name="makeReservationResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="checkAvailability">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="checkAvailability">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="checkAvailabilityResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GKReservationService">
		<wsdl:port name="GKReservationServicePort" binding="tns:IReservationServiceBinding">
			<soap:address location="http://192.168.2.232:8080/ReservationService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>